<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplainSQL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .push { height: 4000px; }
        .small-push { height: 20px; }
        #query 
        {
            position: sticky;
            word-spacing: 10px;
            top: 0;
            text-align: center;
            background-color: white;
            padding-top: 1%;
            padding-bottom: 1px;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <a href="/" class="text-decoration-none"><h1 class="text-center mb-3">ExplainSQL</h1></a>
    </div>

    {{{body}}}
</body>

</html>