<div class="container text-center">
    {{!-- autocomplete="off" --}}
    <form action="/explain" method="post" id="form">
        <div class="input-group">
            <input id="explain" type="text" name="query" class="form-control" autocapitalize="off" autocorrect="off">
            <div class="input-group-append">
                <span class="input-group-btn"><button class="btn btn-secondary" type="submit">EXPLAIN</button></span>
            </div>
        </div>
    </form>
</div>